/* src/styles/Navbar.css */
nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav li {
  list-style: none;
}

nav a {
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #007bff;
  color: white;
}
